.navbar a {
    text-decoration: none;
    color: black;
}

.links {
    position: absolute;
    margin-left: 80%;
}

.btn:focus {
    box-shadow: none !important;
}

#amount {
    border: none;
}